@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
   --branco-principal: #FFF;
   --cinza-secundario: #C0C0C0; 
   --botao-azul: #167BF7;
   --cor-de-fundo: #00030C;
   --botao-azul-efeito: #3c92fa;

   --fonte-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal{
    background-image: url('../images/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;

    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 0.85rem;
    color: var(--cinza-secundario);
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

/* SEGUNDA SESSÃO */
.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}


/* TERCEIRA SESSAO */
.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 2rem;
    color: var(--branco-principal);
}

/* FOOTER */

.rodape{
    text-align: center;
    padding: 145px 8em 80px 8em;
}

.rodape__logo{
    margin-bottom: 40px;
}

.rodape__lista{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-bottom: 25px;
}

.rodape__texto{
    font-size: 0.85rem;
    color: var(--cinza-secundario);
}

.rodape__texto, .primeiro{
    margin-bottom: 25px;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: #ec3046;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}


/* MEDIA SCREEN */

@media screen and (max-width: 768px) {
    .container{
        display: block;
        background-image: none;
        height: 70vh;
    }

    .container__imagem{
        width: 50vw;
    }

    .container__caixa{
        margin: 10em 2em 2em 2em;
    }

    .secundario{
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .secundario__imagem{
        width: 70vw;
    }

    .descricao__titulo{
        font-size: 1.75em;
    }

    .dispositivos__titulo{
        font-size: 1.75em;
    }

    .lista__item{
        font-size: 1.75em;
    }

    .dispositivos__lista{
        display: block;
    }

    .rodape{
        padding: 0 30px 40px 0;
    }

    .rodape__lista{
        display: block;
        margin: 0;
    }

    .lista__link{
        margin: 15px;
    }
}